<html>

<body>
<div>
    <form method="post">
        <input type="nameLanguage" name="nameLanguage" placeholder="Введите язык программирования, который вы бы хотели изучить" />
        <button type="submit">Добавить</button>
    </form>
</div>
<div>Список курсов</div>
  {{#courses}}
  <div>
  <b>{{id}}</b>
  <span>{{nameLanguage}}</span>
  </div>
  {{/courses}}
</body>
</html>
